Add guidance that all URIs should be absolute, and not relative

I picked this up from @nseydoux on the Inrupt team, where the OAuth spec doesn't actually require absolute URIs for various properties like logo_uri, tos_uri, etc.

Ref: https://github.com/solid/solid-oidc/issues/231

I was trying to figure out if there was any earlier discussion about this for [RFC 8414, Authorization server Metadata](https://www.rfc-editor.org/rfc/rfc8414). But I was not able to find anything. Feels like that would have had the same issue, but it has never come up?

In [RFC 6748](https://datatracker.ietf.org/doc/html/rfc6749#appendix-A.6), `redirect_uri` is defined as `URI-Reference` which is according to [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-4.1), "A URI-reference is either a URI or a relative reference."

In [RFC 7591](https://datatracker.ietf.org/doc/html/rfc7591#section-2), the properties in the client metadata, they are defined as "URI string", however, there is no definition in that document of "URI string", and that document does not reference RFC 3986. Unless I'm missing something?

Perhaps 7591 should be updated to reference RFC 3986, specifically using [`absolute-URI`](https://datatracker.ietf.org/doc/html/rfc3986#section-4.3) for these values?